/* big card that contain the preview of bidding item */
.Bidding-Card {

    display: grid;
    background-color: white;
    width: 350px;
    height: 524px;
    background: #FCFCFC;
    border: 1px solid #B1A9A3;
    border-radius: 16px;
    justify-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   



}
/* width: 300px;
    height: 480px; */

/* gridding the items inside the card  */
.biddng-price {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    border-top: 2px dotted #deddf5;
    border-bottom: 2px dotted #deddf5;

}



.biddng-price div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;


}

.bidding-img {
    width: 100%;
 

    margin-top: 10px;
}