.home-background {
    /* #1868B7
                                        #2081E2 
                                        #1B6A94
                                        #0d7db1
                                        */
    padding-top: 9em;

    background: linear-gradient(0.38deg, #FFFFFF 0.32%, #0d7db1 95.19%);

}
/* first section of most bidding items */
.most-bidding-section {

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 500px);

}

/* categories section  */

.cat-section {

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 400px);
    row-gap: 3em;


}

@media screen and (max-width :1200px) {



    .cat-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;


    }


}