.most-bidding-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  row-gap: 20px;
}

/* categories section  */

.cat-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  row-gap: 20px;
}

.map-responsive {
  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;
}

.map-responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;
}
.cate-cards {
  width: 340px;
  height: 275px;

  background: white;
  border: 1px solid #b1a9a3;
  border-radius: 16px;
}

.cate-cards img {
  width: 338px;
  height: 220px;
  border-radius: 16px 16px 0px 0px;
}
