.nav-link {

    color: white;
}

.fa-userss,
.fa-shopping-bags,
.fa-searchs {
    color: white;
}

nav {
    transition: 0.5s;
}

.header-bg {

    background-color: #FFFFFF;
    transition: .5s;

    box-shadow: 2px 2px 5px rgb(102, 102, 102);
}