.wraper{
    display: grid;
    justify-content: center;
    justify-items: center;



}

.auction-input{
    width: 70%;
    padding: 7px 0 7px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: 0.5px solid #bfbfbf;
    outline: none;
    transition: all 0.2s ease;
    margin-bottom: 1em;
  }
  
.auction-input:focus{
    box-shadow: 0px 0px 2px 3.5px #c2dbfe;
    transition: all 0.2s ease;
  
  }


.content{

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 1em;

    width: 38em;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);


}


select{
    padding-left: 1em;
    border-radius:20px ;
    margin-bottom: 1em;

    width: 200px;
    height: 48px;
    border: 0.1px solid #bfbfbf;

}
.auction-button {
    margin: 1em;
    width: 200px;
    height: 48px;
    background: #f8883d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 142.5px;
    border: none;
    font-size: 15pt;
    color: white;
}

input[type=file] {
    display: none;
    }



.label1{
    width: 200px;
    height: 44px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    border-radius: 29px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
    padding: 1%;


}

.label1:hover{
    background-color: gray;
    color: white;
    transition: all 0.8s ease;
    cursor: pointer;


}

textarea[name=description] {
    resize: none;
}