.cate-cards {
    width: 340px;
    height: 275px;


    background: white;
    border: 1px solid #B1A9A3;
    border-radius: 16px;

}


.cate-cards img {
    width: 338px;
    height: 220px;
    border-radius: 16px 16px 0px 0px;


}
