@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    font-style: sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 60px;
    color: #000000;


}


@media screen and (max-width :1200px) {
    .most-bidding-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;

    }

    .Bidding-Card {

        height: 30em;
    }

    .bttn {
        font-size: 12pt;
        width: 60%;
        height: 65%;
        margin-bottom: 1em;
    }



    .cat-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;


    }


}