@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {

    font-family: 'Poppins', sans-serif;
   
    


}
.bolding{

    font-weight: bold;
    font-size: 20pt;
}
label{

    font-weight: bold;

}

.form-colors{

    background-color: #ff9d5c;
    width: 200px;
}
.form-side{

    background-color: #2081E2;
     border-radius: 15px;
}
/* @media screen and (max-width :1200px) {
    .most-bidding-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;

    }

    .Bidding-Card {

        height: 33em;
    }

    .card-button {
        font-size: 12pt;
        width: 60%;
      
        margin-bottom: 1em;
    }



    .cat-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;


    }


} */