@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {

    font-family: 'Poppins', sans-serif;





}

.bolding {

    font-weight: bold;
    font-size: 18pt;
}

.bolding2 {

    font-weight: bold;
}

label {

    font-weight: bold;

}

.form-colors {

    background-color: #181818;
    width: 170px;
 
}

.form-side {

    background-image: url('https://mocah.org/thumbs/5385252-portrait-painting-framed-portrait-spotlight-van-gogh-black-dark-light-art-artist-modernity-gogh-van-vincent-creative-commons-images.jpg');
    border-radius: 15px;
    height: auto;
}


@media screen and (max-width :1200px) {
    /* .most-bidding-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;

    } */

    .Bidding-Card {

        height: 33em;
    }

    .card-button {
        font-size: 12pt;
        width: 60%;

        margin-bottom: 1em;
    }



    .cat-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;


    }


}

/* 
@media screen and (max-width :1500px) {

    .biid{

        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(3,auto);
        column-gap: 3em;
        justify-items: center;
        
    
    
    }





}





@media screen and (max-width :850px) {
    .biid{

        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 3em;
        justify-items: center;
    
    
    }



}
@media screen and (max-width :750px) {
    .biid{

        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(1,auto);
        column-gap: 3em;
        justify-items: center;
    
    
    }



} */